*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h4{
align-items: center;
margin: 10px;
color: rgb(107, 107, 250);
font-size: larger;
}

.nav-center{
display: flex;
height: 3rem;
background-color: rgb(239, 244, 243);
}
ul{
    display: flex;
list-style: none;
justify-content:space-between;
align-items: center;
float: right;
}
a{
    color: black;
    text-decoration: none;
margin: 5px;

}
main{
margin: 10rem;
height: 30vh;
background-color: black;
align-items: center;
justify-content: center;

}
h2{
       align-items: center;
    justify-content: center;
    padding: 3.1rem;
    margin-left: auto;
    margin-right: auto;
color: azure    ;
}
.btn{

    align-items: center;
    justify-content: center;
background-color: brown;
color: aquamarine;
height: 3rem;
width: 7rem;
cursor: pointer;
margin-left: 6rem;
}


